.bar-nav ~ .content {
    padding-top: 80px;
}
form {
    padding-top: 20px;
}
#chrono {
  height: 30px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  width: 120px;
  margin-top: 2%;
  margin-left: 2%;
}
#parcours p {
    padding: 2% 30px 10px;
}
