.bar-nav ~ .content {
    padding-top: 82px;
}
form {
    padding-top: 20px;
}
#chrono {
  height: 30px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  width: 120px;
  margin-top: 2%;
  margin-left: 2%;
}
.infotourist {
  height: 100%;
  padding: 5px;
  text-align: center;
  width: 60%;
  margin-top: 5%;
  margin-left: 5%;
}
#parcours p {
    padding: 2% 30px 10px;
}
#annonce img {
    margin-top: 5%;
    width: 90%;
}


.liste_scores{

  width: 80%;

  padding: 15%;

  margin-top: 40px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

  background-color: #28225c;

  color: #fdc317;

  border-top: 10px solid #fdc317;

}
.retour a{
  display: block;
}
